<% include ../particles/boilerpoint.ejs %>

<div class='playlist'>
	<h2 class='text-capitalize'><%= data.name %></h2>
	<a href='/playlists/'><< Back to Playlists..</a>
	<a href='/playlists/<%= data.id %>/edit'>Edit playlist name</a>
	<hr />
	<a class="btn btn-primary btn-lg btn-info" href='/playlists/<%= data.id %>/new'>Add Track</a>
	<% for(let track of tdata) { %>
		<div class="border">
			<div>
				<p class='text-capitalize'><%= track.title %> - <%= track.artist %></p>
				<a href='/playlists/<%= data.id %>/<%= track.id %>'>See Lyrics</a>
			</div>
			<form action='/playlists/<%= data.id %>/<%= track.id %>?_method=DELETE' method='POST'>
				<input class="btn btn-outline-info" type='Submit' value='Delete'>
			</form>
		</div>
	<% } %>
	<hr />
</div>

<% include ../particles/footer.ejs %>