<% include ../particles/boilerpoint.ejs %>

<div class='track'>
	<h2 class='text-capitalize'><%= data.title %> - <%= data.artist %></h2>
	<a class='back-playlist' href='/playlists/<%= data.playlist_id %>'><< Back to Playlist</a>
	<div><iframe src='<%= data.link %>' frameborder="0" allowfullscreen></iframe></div>
	<div class='lyrics'><%- data.lyrics.replace(/\n/g, "<br />") %></div>
	<a class='lyrics' href='/playlists/<%= data.playlist_id %>'><< Back to Playlist</a>
	<hr />
</div>

<% include ../particles/footer.ejs %>