<% include ../particles/boilerpoint.ejs %>

<div class='track'>
	<h2 class='text-capitalize'><%= data.title %> - <%= data.artist %></h2>
	<a href='/playlists/<%= data.playlist_id %>'><< Back to Playlist</a>
	<p><%- data.lyrics.replace(/\n/g, "<br />") %></p>
	<a href='/playlists/<%= data.playlist_id %>'><< Back to Playlist</a>
	<hr />
</div>

<% include ../particles/footer.ejs %>